html {
    scroll-behavior: smooth;
}
.navbar {
    background-color: #12cc82 !important;
}
.subscribe-btn {
    background-color: white;
    border-radius: 5px;
    padding: 4px;
}
.header-container {
    height: 510px;
    background-image: url(https://images.unsplash.com/photo-1498409785966-ab341407de6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1360&q=80);
}
.header {
    color: white;
    font-size: 100px;
}
.header-part-two {
    color: white;
    font-size: 100px;
}
.community {
    color: white;
    font-size: 16px;
}
.events {
    color: white;
    font-size: 16px;
}
.programs {
    color: white;
    font-size: 16px;
}
.nav-text {
    color: white;
    font-size: 17px;
}
.sing-in {
    color: black;
    background-color: white;
    border-color: white;
    border-radius: 5px;
}
.logo {
    width: 70px;
    margin-left: 20px;
}
a:hover {
    color: white;
}
.programs-card {
    background-color: #E8E8E8;
    border-radius: 5px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.programs-container {
    margin-top: 70px;
}
.programs-header {
    color: black;
    font-size: 40px;
}
.programs-h4 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.programs-text {
    font-size: 16px;
}
#boot-main {
    margin-left: 25px;
}
#first-pr-container {
    width: 270px;
    height: 270px;
    background-color: #E8E8E8;
    border-radius: 5px;
    margin-left: 20px;
}
.f-c-text {
    color: black;
}
.f-c-small {
    font-size: 15px;
    margin-top: 3px;
}
.f-c-price {
    color: black !important;
    margin-bottom: -3px;
}
.f-c-info {
    font-size: 18px;
}
.f-c-button {
    color: white;
    width: 120px;
    height: 45px;
    margin-top: 30px;
    background-color: #12cc82;
    border-color: #12cc82;
    border-radius: 5px;
}
#second-pr-container {
    width: 270px;
    height: 270px;
    background-color: #E8E8E8;
    border-radius: 5px;
}
.s-c-text {
    color: black;
    margin-bottom: -1px;
}
.s-c-small {
    font-size: 15px;
    margin-top: 3px;
}
.s-c-price {
    color: black !important;
    margin-bottom: -3px;
}
.s-c-info {
    font-size: 18px;
}
.s-c-button {
    color: white;
    width: 120px;
    height: 45px;
    margin-top: 30px;
    background-color: #12cc82;
    border-color: #12cc82;
    border-radius: 5px;
}
#third-pr-container {
    width: 270px;
    height: 270px;
    background-color: #E8E8E8;
    border-radius: 5px;
    margin-left: 20px;
}
.t-c-text {
    color: black;
    margin-bottom: -1px;
}
.t-c-small {
    font-size: 15px;
    margin-top: 3px;
}
.t-c-price {
    color: black !important;
    margin-bottom: -3px;
}
.t-c-info {
    font-size: 18px;
}
.t-c-button {
    color: white;
    width: 120px;
    height: 45px;
    margin-top: 30px;
    background-color: #12cc82;
    border-color: #12cc82;
    border-radius: 5px;
}
#fourth-pr-container {
    width: 270px;
    height: 270px;
    background-color: #E8E8E8;
    border-radius: 5px;
}
.fo-c-text {
    color: black;
    margin-bottom: -1px;
}
.fo-c-small {
    font-size: 15px;
    margin-top: 3px;
}
.fo-c-price {
    color: black !important;
    margin-bottom: -3px;
}
.fo-c-button {
    color: white;
    width: 120px;
    height: 45px;
    margin-top: 65px;
    background-color: #12cc82;
    border-color: #12cc82;
    border-radius: 5px;
}
.events-container {
    margin-top: 100px;
}
.events-header {
    color: black;
    font-size: 40px;
}
.events-row h2 {
    color: black;
    margin-top: 10px;
}
.events-text {
    font-size: 16px;
}
.events-image {
    border-radius: 5px;
    width: 100%;
}
.events-image:hover {
    width: 101%;
}
.w-span {
    color: black;
}
.second-w-text {
    margin-top: -8px;
}
.t-span {
    color: black;
}
.second-t-text {
    margin-top: -8px;
}
.h-span {
    color: black;
}
.community-container {
    margin-top: 100px;
}
.community-header {
    color: black;
    font-size: 40px;
}
.join-comm-header {
    font-size: 18px;
}
.logo-container {
    margin-top: 50px;
    margin-bottom: 100px;
}
.final-container {
    background-color: #12cc82;
    padding: 20px;
}
.copyright-text {
    color: white;
}
.me-text {
    color: white;
}
.sup-text {
    color: white;
}
.sup-logo {
    width: 100px;
}
.g-h-text {
    color: white;
}
.g-h-logo {
    width: 130px;
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: tomato;
    color: white;
}
.fa-linkedin {
    background: #2867B2;
    color: white;
}
@media (min-width: 361px) and (max-width: 767px) {
    .header-container h1{
        font-size: 50px;
    }

}
@media (max-width: 360px) {
    .header-container h1{
        font-size: 40px;
    }

}