body {
    background-color: white;
}
.full-name {
    width: 350px;
    height: 30px;
    border-color: black;
    border-radius: 3px;
}
.email {
    width: 350px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: black;
    border-radius: 3px;
}
::placeholder {
    color: black;
}
.icon-image {
    width: 150px;
}
#formContent {
    margin-top: 100px;
}
.wrapper {
    margin-bottom: 20px;
}
.button {
    color: white;
    background-color: #12cc82;
    border-radius: 5px;
}